@model BugTracker.Models.ViewModels.DashboardViewModel

@using BugTracker.Models.Enums
@using BugTracker.Services.Interfaces
@using Microsoft.AspNetCore.Identity

@inject UserManager<BugTrackerUser> UserManager
@inject IBTRolesService RolesService

@{
    ViewData["Title"] = "Dashboard";
    BugTrackerUser bugTrackerUser = await UserManager.GetUserAsync(User);
}


<!-- Page Title -->
<div class="row justify-content-between align-items-center mb-5">
    <div class="col flex-shrink-0 mb-5 mb-md-0">
        <h1 class="display-4 mb-0">Dashboard</h1>
        <div class="text-muted">Company overview &amp; summary</div>
    </div>
</div>

<!-- Colored status cards-->
<div class="row gx-5">
    <div class="col-xxl-3 col-md-6 mb-5">
        <div class="card card-raised bg-primary text-white">
            <div class="card-body px-4">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <div class="me-2">
                        <div class="display-5 text-white">@Model.Tickets.Count()</div>
                        <div class="card-text">Total Tickets</div>
                    </div>
                    <div class="icon-circle bg-white-50 text-primary"><i class="material-icons">confirmation_number</i></div>
                </div>
                <div class="card-text">
                    <div class="d-inline-flex align-items-center">
                        <a class="stretched-link text-decoration-none text-white" asp-area="" asp-controller="Tickets" asp-action="AllTickets">Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-3 col-md-6 mb-5">
        <div class="card card-raised bg-warning text-white">
            <div class="card-body px-4">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <div class="me-2">
                        <div class="display-5 text-white">@Model.Tickets.Where(t => string.IsNullOrEmpty(t.DeveloperUserId)).Count()</div>
                        <div class="card-text">Unassigned Tickets</div>
                    </div>
                    <div class="icon-circle bg-white-50 text-warning"><i class="material-icons">rule</i></div>
                </div>
                <div class="card-text">
                    <div class="d-inline-flex align-items-center">
                        <a class="stretched-link text-decoration-none text-white" asp-area="" asp-controller="Tickets" asp-action="UnassignedTickets">Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-3 col-md-6 mb-5">
        <div class="card card-raised bg-secondary text-white">
            <div class="card-body px-4">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <div class="me-2">
                        <div class="display-5 text-white">@Model.Projects.Where(p => p.Archived == false).Count()</div>
                        <div class="card-text">Active Projects</div>
                    </div>
                    <div class="icon-circle bg-white-50 text-secondary"><i class="material-icons">published_with_changes</i></div>
                </div>
                <div class="card-text">
                    <div class="d-inline-flex align-items-center">
                        <div class="d-inline-flex align-items-center">
                            <a class="stretched-link text-decoration-none text-white" asp-area="" asp-controller="Projects" asp-action="AllProjects">Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-3 col-md-6 mb-5">
        <div class="card card-raised bg-info text-white">
            <div class="card-body px-4">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <div class="me-2">
                        <div class="display-5 text-white">@Model.Projects.Where(p => p.Archived == true).Count()</div>
                        <div class="card-text">Archived Projects</div>
                    </div>
                    <div class="icon-circle bg-white-50 text-info"><i class="material-icons">folder</i></div>
                </div>
                <div class="card-text">
                    <div class="d-inline-flex align-items-center">
                        <a class="stretched-link text-decoration-none text-white" asp-area="" asp-controller="Projects" asp-action="ArchivedProjects">Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row gx-5">
    <!-- Revenue breakdown chart example-->
    <div class="col-lg-8 mb-5">
        <div class="card card-raised h-100">
            <div class="card-header bg-primary text-white px-4">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="me-4">
                        <h2 class="card-title text-white mb-0">Revenue Breakdown</h2>
                        <div class="card-subtitle">Compared to previous year</div>
                    </div>
                    <div class="d-flex gap-2 me-n2">
                        <button class="btn btn-lg btn-text-white btn-icon" type="button"><i class="material-icons">download</i></button>
                        <button class="btn btn-lg btn-text-white btn-icon" type="button"><i class="material-icons">print</i></button>
                    </div>
                </div>
            </div>
            <div class="card-body p-4">
                <div class="row gx-4">
                    <div class="col-12 col-xxl-2">
                        <div class="d-flex flex-column flex-md-row flex-xxl-column align-items-center align-items-xl-start justify-content-between">
                            <div class="mb-4 text-center text-md-start">
                                <div class="text-xs font-monospace text-muted mb-1">Actual Revenue</div>
                                <div class="display-5 fw-500">$59,482</div>
                            </div>
                            <div class="mb-4 text-center text-md-start">
                                <div class="text-xs font-monospace text-muted mb-1">Revenue Target</div>
                                <div class="display-5 fw-500">$50,000</div>
                            </div>
                            <div class="mb-4 text-center text-md-start">
                                <div class="text-xs font-monospace text-muted mb-1">Goal</div>
                                <div class="display-5 fw-500 text-success">119%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xxl-10"><canvas id="dashboardBarChart"></canvas></div>
                </div>
            </div>
            <div class="card-footer bg-transparent position-relative ripple-gray">
                <a class="d-flex align-items-center justify-content-end text-decoration-none stretched-link text-primary" href="#!">
                    <div class="fst-button">Open Report</div>
                    <i class="material-icons icon-sm ms-1">chevron_right</i>
                </a>
            </div>
        </div>
    </div>
    <!-- Segments pie chart example-->
    <div class="col-lg-4 mb-5">
        <div class="card card-raised h-100">
            <div class="card-header bg-primary text-white px-4">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="me-4">
                        <h2 class="card-title text-white mb-0">Tickets</h2>
                        <div class="card-subtitle">By Status</div>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-lg btn-text-light btn-icon me-n2 dropdown-toggle" id="segmentsDropdownButton" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></button>
                        <ul class="dropdown-menu" aria-labelledby="segmentsDropdownButton">
                            <li><a class="dropdown-item" href="#!">Action</a></li>
                            <li><a class="dropdown-item" href="#!">Another action</a></li>
                            <li><a class="dropdown-item" href="#!">Something else here</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="#!">Separated link</a></li>
                            <li><a class="dropdown-item" href="#!">Separated link</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body p-4">
                <div class="d-flex h-100 w-100 align-items-center justify-content-center">
                    <div class="w-100" style="max-width: 20rem"><canvas id="myPieChart"></canvas></div>
                </div>
            </div>
            <div class="card-footer bg-transparent position-relative ripple-gray">
                <a class="d-flex align-items-center justify-content-end text-decoration-none stretched-link text-primary" href="#!">
                    <div class="fst-button">Open Report</div>
                    <i class="material-icons icon-sm ms-1">chevron_right</i>
                </a>
            </div>
        </div>
    </div>
</div>


<!-- Table -->
<div class="card card-raised">
    <div class="card-header bg-primary text-white px-4">
        <div class="d-flex justify-content-between align-items-center">
            <div class="me-4">
                <h2 class="card-title text-white mb-0">Projects</h2>
                <div class="card-subtitle">Details</div>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <!-- Simple DataTables example-->
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Priority</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @* Table body *@
                @foreach (var project in Model.Projects.OrderByDescending(d => d.EndDate))
                {
                    <tr>
                        <td>@project.Name</td>
                        <td><span style="font-size: small">@project.StartDate.ToString("MM/dd/yyyy")</span></td>
                        <td><span style="font-size: small">@project.EndDate.ToString("MM/dd/yyyy")</span></td>
                        <td><span class="badge rounded-pill bg-dark">@project.ProjectPriority?.Name</span></td>
                        <td>
                            <a class="btn btn-sm btn-text-secondary" asp-action="Details" asp-controller="Projects" asp-route-id="@project.Id">View</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts {

<!--  Load Chart.js via CDN-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.0.0-beta.10/chart.min.js" crossorigin="anonymous"></script>
<!--  Load Chart.js customized defaults-->
<script src="~/js/charts/chart-defaults.js"></script>
<!--  Load chart demos for this page-->
<script src="~/js/charts/demos/dashboard-chart-bar-grouped-demo.js"></script>
<!-- Load Simple DataTables Scripts-->
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="~/js/datatables/datatables-simple-demo.js"></script>

<!-- Tickets by status -->
<script>

    var context = document.getElementById('myPieChart').getContext('2d');
    var myPieChart = new Chart(context, {
        type: 'pie',
        data: {
            labels: ['@nameof(BTTicketStatus.Development)', '@nameof(BTTicketStatus.New)', '@nameof(BTTicketStatus.Resolved)', '@nameof(BTTicketStatus.Testing)'],
            datasets: [{
                data: [
                    @Model.Tickets.Where(t=> t.TicketStatus.Name == nameof(BTTicketStatus.Development)).Count(),
                    @Model.Tickets.Where(t=> t.TicketStatus.Name ==nameof(BTTicketStatus.New)).Count(),
                    @Model.Tickets.Where(t=> t.TicketStatus.Name ==nameof(BTTicketStatus.Resolved)).Count(),
                    @Model.Tickets.Where(t=> t.TicketStatus.Name ==nameof(BTTicketStatus.Testing)).Count()
                ],
                backgroundColor: [primaryColor, infoColor, secondaryColor, warningColor],
            }],
        },
    });

</script>



}