@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

@{
    Layout = "";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Login - Material Admin Pro</title>
    <!-- Load Favicon-->
    <link href="~/assets/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!-- Load Material Icons from Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet" />
    <!-- Roboto and Roboto Mono fonts from Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,500" rel="stylesheet" />
    <!-- Load main stylesheet-->
    <link href="~/css/styles.css" rel="stylesheet" />
</head>
<body class="bg-pattern-doubs">
    <!-- Layout wrapper-->
    <div id="layoutAuthentication">
        <!-- Layout content-->
        <div id="layoutAuthentication_content">
            <!-- Main page content-->
            <main>
                <!-- Main content container-->
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-8">
                            <div class="card card-raised shadow-10 mt-5 mt-xl-10 mb-4">
                                <div class="card-body p-5">
                                    <!-- Auth header with logo image-->
                                    <div class="text-center">
                                        <img class="mb-3" src="~/assets/img/icons/background.svg" alt="..." style="height: 48px" />
                                        <h1 class="display-5 mb-0">Login</h1>
                                        <div class="subheading-1 mb-5">to continue to app</div>
                                    </div>
                                    <!-- Login submission form-->
                                    <form id="account" method="post">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="form-floating mb-3">
                                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                                            <label asp-for="Input.Email" class="form-label"></label>
                                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                                            <label asp-for="Input.Password" class="form-label"></label>
                                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <label asp-for="Input.RememberMe" class="form-label">
                                                <input class="form-check-input" asp-for="Input.RememberMe" />
                                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                                            </label>
                                        </div>
                                        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-4">
                                            <a class="small fw-500 text-decoration-none" href="app-auth-password-basic.html">Forgot Password?</a>
                                            <button class="btn btn-primary" type="submit">Login</button>
                                        </div>

                                        <div class="subheading-1 mb-1 text-center">Or try it out with a demo account</div>

                                        <div class="form-group d-flex flex-column align-items-center justify-content-between mt-0 mb-0">
                                            <a class="btn btn-primary mb-1" href="javascript:document.getElementById('DemoAdminForm').submit();">
                                                <i class="material-icons leading-icon">login</i>
                                                <div class="me-3">Admin</div>
                                            </a>
                                            <a class="btn btn-primary mb-1" href="javascript:document.getElementById('DemoPMForm').submit();">
                                                <i class="material-icons leading-icon">login</i>
                                                <div class="me-3">Project Manager</div>
                                            </a>
                                            <a class="btn btn-primary mb-1" href="javascript:document.getElementById('DemoDevForm').submit();">
                                                <i class="material-icons leading-icon">login</i>
                                                <div class="me-3">Developer</div>
                                            </a>
                                            <a class="btn btn-primary mb-1" href="javascript:document.getElementById('DemoSubmitterForm').submit();">
                                                <i class="material-icons leading-icon">login</i>
                                                <div class="me-3">Submitter</div>
                                            </a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            @*
                                <!-- Auth card message-->
                                <div class="text-center mb-5"><a class="small fw-500 text-decoration-none link-white" href="app-auth-register-basic.html">Need an account? Sign up!</a></div>
                            *@
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <!-- Layout footer-->
        <div id="layoutAuthentication_footer">
            <!-- Auth footer-->
            <footer class="p-4">
                <div class="d-flex flex-column flex-sm-row align-items-center justify-content-between small">
                    <div class="me-sm-3 mb-2 mb-sm-0"><div class="fw-500 text-white">Copyright &copy; The Bug Tracker @DateTimeOffset.Now.Year</div></div>
                    <div class="ms-sm-3">
                        @*
                            <a class="fw-500 text-decoration-none link-white" href="#!">Privacy</a>
                            <a class="fw-500 text-decoration-none link-white mx-4" href="#!">Terms</a>
                            <a class="fw-500 text-decoration-none link-white" href="#!">Help</a>
                        *@
                    </div>
                </div>
            </footer>
        </div>
    </div>


    <form id="DemoAdminForm" class="form-inline" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Action("Dashboard", "Home", new { area = "" })">
        <input type='hidden' asp-for="Input.Email" value='admin@placeholder.com'/>
        <input type='hidden' asp-for="Input.Password" value='placeholder'/>
        <input type='hidden' asp-for="Input.RememberMe" value='false'/>
    </form>

    <form id="DemoPMForm" class="form-inline" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Action("Dashboard", "Home", new { area = "" })">
        <input type='hidden' asp-for="Input.Email" value='pm@placeholder.com'/>
        <input type='hidden' asp-for="Input.Password" value='placeholder'/>
        <input type='hidden' asp-for="Input.RememberMe" value='false'/>
    </form>

    <form id="DemoDevForm" class="form-inline" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Action("Dashboard", "Home", new { area = "" })">
        <input type='hidden' asp-for="Input.Email" value='dev@placeholder.com'/>
        <input type='hidden' asp-for="Input.Password" value='placeholder'/>
        <input type='hidden' asp-for="Input.RememberMe" value='false'/>
    </form>

    <form id="DemoSubmitterForm" class="form-inline" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Action("Dashboard", "Home", new { area = "" })">
        <input type='hidden' asp-for="Input.Email" value='submitter@placeholder.com'/>
        <input type='hidden' asp-for="Input.Password" value='placeholder'/>
        <input type='hidden' asp-for="Input.RememberMe" value='false'/>
    </form>

    <!-- Load Bootstrap JS bundle-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <!-- Load global scripts-->
    <script type="module" src="~/js/material.js"></script>
    <script src="~/js/scripts.js"></script>
</body>
</html>


@*<div class="row justify-content-center">
    <div class="col-lg-5">
    <div class="card shadow-lg border-0 rounded-lg mt-5">
    <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
    <div class="card-body">
    <form id="account" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-floating mb-3">
    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
    <label asp-for="Input.Email" class="form-label"></label>
    <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
    <label asp-for="Input.Password" class="form-label"></label>
    <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div>
    <div class="checkbox">
    <label asp-for="Input.RememberMe" class="form-label">
    <input class="form-check-input" asp-for="Input.RememberMe" />
    @Html.DisplayNameFor(m => m.Input.RememberMe)
    </label>
    </div>
    </div>
    <div>
    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
    </div>
    </form>
    </div>
    <div class="card-footer text-center py-3">
    <div class="small"><a href="register.html">Need an account? Sign up!</a></div>
    </div>
    </div>
    </div>
    </div>*@

@*<div class="row">
    <div class="col-md-4">
    <section>
    <form id="account" method="post">
    <h2>Use a local account to log in.</h2>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-floating">
    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
    <label asp-for="Input.Email" class="form-label"></label>
    <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="form-floating">
    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
    <label asp-for="Input.Password" class="form-label"></label>
    <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div>
    <div class="checkbox">
    <label asp-for="Input.RememberMe" class="form-label">
    <input class="form-check-input" asp-for="Input.RememberMe" />
    @Html.DisplayNameFor(m => m.Input.RememberMe)
    </label>
    </div>
    </div>
    <div>
    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
    </div>
    <div>
    <p>
    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
    </p>
    <p>
    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
    </p>
    <p>
    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
    </p>
    </div>
    </form>
    </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
    <section>
    <h3>Use another service to log in.</h3>
    <hr />
    @{
    if ((Model.ExternalLogins?.Count ?? 0) == 0)
    {
    <div>
    <p>
    There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
    about setting up this ASP.NET application to support logging in via external services</a>.
    </p>
    </div>
    }
    else
    {
    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
    <div>
    <p>
    @foreach (var provider in Model.ExternalLogins)
    {
    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
    }
    </p>
    </div>
    </form>
    }
    }
    </section>
    </div>
    </div>*@

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
